@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);

  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(90deg, #fe5378, #ff944c);

  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
}

.text-tomato {
  color: var(--tomato);
}

.text-dark-slate-gray {
  color: var(--dark-slate-gray);
}

.text-charcoal-gray {
  color: var(--charcoal-gray);
}

.bg-charcoal-gray {
  background-color: var(--charcoal-gray) !important;
}

.bg-dark-slate-gray {
  background-color: var(--dark-slate-gray) !important;
}

.text-grey {
  color: var(--grey);
}

.text-white {
  color: var(--white);
}

.hover-gradient {
  box-shadow: 0px 10px 28px -5px var(--dark-slate-gray);
  transform: scale(1.01);
  transition: 300ms;
}

.hover-gradient:hover {
  background-color: var(--gradient);
  box-shadow: 0px 10px 28px -5px var(--gradient);
}
